@font-face {
    font-family: Gotham;
    src: url(../fonts/Gotham/Gotham-Medium.otf);
    font-weight: bold;
}
@font-face {
    font-family: Gotham;
    src: url(../fonts/Gotham/Gotham-Light.otf);
    font-weight: normal;
}
body{
    color: #4B4F54;
    font-family: Gotham;
}
.value-logo-container, .col-logo-conatiner {
  padding: 25px 0;
}
.col-logo-conatiner img {
    max-width: 250px;
}
.other-container {
    padding: 50px 0;
}
.pad-20 {
    padding:20px 0;
}
.pad-bottom-0 {
    padding-bottom:0;
}
.pad-top-0 {
    padding-top:0;
}
.pad-top-10 {
    padding-top:10px;
}

.col-logo-conatiner{
    border-bottom: 1px solid #D8D8D8;
}
.grey-bg {
  background-color: #F6F6F6;
}
.value-tagline {
  background-color: #CE0058;
  color: #fff;
  padding: 10px 0;
  font-size: 20px;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #CE0058;
  display: inline-block;
  top: -8px;
  position: relative;
}
h2, h3{
    color:  #CE0858;
}
ul li{
    font-weight: bold;
}
.box-container{
    width: 350px;
    margin: 10px auto;
    float: none;
}
@media only screen and (min-width: 992px) {
    .row .box-container{
        margin: 30px;
    }
    .row .col-lg:first-child .box-container{        
        float: right;
    }
    .row .col-lg:last-child .box-container{
        float: left;
    }    
    .box-container p{
        
        height: 200px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;        
    }
  }

.box-container .arrow-container {
    background: #fff;
    border-left: 1px solid #D8D8D8;;
    border-right: 1px solid #D8D8D8;
}
.box-container p{
    background: #fff;
    border-left: 1px solid #D8D8D8;
    border-right: 1px solid #D8D8D8;
    border-bottom: 1px solid #D8D8D8;
    padding: 5px 15px 25px 15px;
}
.box-container h5{
    color: #fff;
    padding: 10px 0;
    margin: 0;
}
.box-container.blue h5{
    background-color: #007DBA;
}
.box-container.blue .arrow-down{
    border-top-color: #007DBA;
}
.box-container.navy h5{
    background-color: #003865;
}
.box-container.navy .arrow-down{
    border-top-color: #003865;
}
.box-container.magenta h5{
    background-color: #96172E;
}
.box-container.magenta .arrow-down{
    border-top-color: #96172E;
}

.btn-primary{
    background-color: #CE0858;
    border-color: #CE0858;
    border-radius: 0;
    padding: 10px 40px;
}

.btn-link{
    color:#4B4F54
}